body {
    background-image: url('../assets/background.png');
    background-size: cover;
    line-height: 1.25;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Tahoma', 'sans-serif';
}
header{
    max-width: 800px;
    margin: 0 auto;
}

a{
    color: #d12929;
}

div{
    display: block;
    unicode-bidi: isolate;
}

img{
    height: auto;
    max-width: 100%;
    border-style: none;
}
.entry-header{
    position: relative;
    padding-left: 85px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.entry-header h2{
    margin: 0;
}
.entry-meta {
    font-size: 0.75em;
}

.entry-content{
    padding: 0 20px 20px 20px;
    margin: 0;
    background-color: #FFD045;
    z-index: 25;
    position: relative;
    color: #ff3950;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.entry-content2{
    padding: 0 20px 20px 20px;
    margin: 0;
    background-color: #FF2841;
    z-index: 25;
    position: relative;
    color: #FFD045;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.entry-content3{
    padding: 0 20px 20px 20px;
    margin: 0;
    background-color: #FE2373;
    z-index: 25;
    position: relative;
    color: #FFC259;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.entry-content4{
    padding: 0 20px 20px 20px;
    margin: 0;
    background-color: #D227CB;
    z-index: 25;
    position: relative;
    color: #FFAC9D;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.entry-content5{
    padding: 0 20px 20px 20px;
    margin: 0;
    background-color: #0071FF;
    z-index: 25;
    position: relative;
    color: #4CB5FF;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.entry-content6{
    padding: 0 20px 20px 20px;
    margin: 0;
    background-color: #127E77;
    z-index: 25;
    position: relative;
    color: #1BFDA6;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.entry-content7{
    padding: 0 20px 20px 20px;
    margin: 0;
    background-color: #ffffff;
    z-index: 25;
    position: relative;
    color: #FF2841;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.interview-dialogue{
    padding: 8px;
    margin: 16px;
    background-color: #FE7243;
    border-radius: 28px;
    position: relative;
    word-wrap: break-word;
    color: black
}
.interview-dialogue p{
    padding: 8px;
    background-color: white;
    border-radius: 20px;
    margin: 0px;
}
.interview-dialogue a.icon{
    display: block;
    width: 48px;
    height: 44px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 4px;
}
.interview-dialogue.interview-dialogue-left p{
    margin-left: 8px;
}
.interview-dialogue.interview-dialogue-left a.icon{
    left: 15px;
}
.interview-dialogue.interview-dialogue-left{
    padding-left: 4em;
    margin-right: 20%;
    align-self: start;
}

.interview-dialogue.interview-dialogue-right p{
    margin-left: 8px;
}
.interview-dialogue.interview-dialogue-right a.icon{
    right: 15px;
}
.interview-dialogue.interview-dialogue-right{
    padding-right: 4em;
    margin-left: 20%;
    align-self: start;
}
.entry-footer {
    background-color: #d12929;
    display: block;
    min-height: 30px;
    border-radius: 15px;
    position: relative;
    z-index: 20;
    top: -25px;
    max-width: 843px;
    margin: 0 auto;
}
#thelogo img{
    max-height: 200px
}

#overhead{
    position: relative;
    z-index: 10;
    padding: 20px 20px 40px;
}

#pmenu{
    float: right;
    margin: 0;
    padding: 0;
}

#roundss{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 0.9em;
}

.thumbnailcontainerspecial{
    margin-left: 200px;
}

.round img{
    display: block;
    max-width: 390px;
}

.round{
    display: inline-block;
}

@media screen and (max-width: 800px){
    #pmenu{
        margin: 10px auto;
        width: 230px;
    }
    #thelogo, #pmenu{
        float: none;
    }
    #overhead{
        text-align: center;
    }
    #roundss{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        margin: 0 auto;
    }
    .thumbnailcontainerspecial{
        margin-left: 0px;
    }
}

ul{
    list-style: disc;
}

#pmenu li a{
    text-decoration: none;
    position: relative;
    display: inline-block;
}

#pmenu li{
    list-style: none;
}

#pmenu li a div:first-child {
    background-color: #FFD045;
}

#pmenu li a img.one {
    opacity: 1;
}

#pmenu li a img.two {
    opacity: 0;
}

#pmenu li a img {
    width: 32px;
    position: absolute;
    top: 9px;
    left: 6px;
}

#pmenu li a div {
	display: block;
	width: 220px;
	text-align: right;
	margin: 11px 4px 2px;
	border-radius: 15px;
	color: black;
	font-weight: bold;
	font-size: 1.5em;
	padding: 10px;
	position: relative;
	z-index: 30;
}

#pmenu li a:hover div:first-child {
	background-color: #ff3950;
}

#pmenu li a:active div:first-child {
    background-color: #d12929;
}

#pmenu li a:hover img.one, #pmenu li a:active img.two {
	opacity: 0;
}
#pmenu li a:hover img.two, #pmenu li a:active img.one {
	opacity: 1;
}

